<main>
  <section>
    <h1 class="heading">About</h1>
    <p class="tetxt">
      Hi, welcome to the contact page of<span class="logo"> Xenon</span> . You are here to know about the developer of
      Xenon, and if you've clicked the wrong button, go enjoy some <a routerLink="/stories">stories</a>.
    </p>
    <br>
    <p class="text">
      I am <a href="https://ujjwalkumar.now.sh">Ujjwal Kr</a> There is a chance that you know me, if you don't then
      click on my name, or just <a href="https://www.google.com/search?q=ujjwal+kr&oq=ujjwal+kr">Google it</a>, or click on one of the copyright links at the bottom of every single page on
      this website which everyone just ignores.
    </p>
    <br>
    <p class="text">
      If you want to just say me HI, or have some feedback, reviews or questions about this app or anything in general,
      you can use th ntact form below to let me know that people actually use this app.
    </p>
  </section>

  <section>
    <h1 class="heading">Contact Me</h1>
    <br>
    <form class="field">
        <br>
        <div class="control">
          <input class="input is-success has-text-success" type="text" placeholder="Your Name">
        </div>
        <br>
        <div class="control">
          <input class="input is-success has-text-success" type="text" placeholder="Your Email - (to contact you back)">
        </div>
        <br>
        <div class="control">
          <textarea class="textarea is-success has-text-success" type="text" placeholder="Your Email - (to contact you back)"></textarea>
        </div>
    </form>
  </section>
</main>
