.load
    width: 100%
    overflow: hidden
    text-align: center
    app-loading
          position: relative
          left: 42%       

@media all and ( max-width:  400px)
    .load
        app-loading
            left: 10%    

@media all and ( max-width:  350px)
    .load
        app-loading
            left: 7%                              

section
    width: 100%
    article
        width: 100%
        box-shadow: 0 0 0 .21px gray
        .news
            padding-left: 3%
            padding-right: 3%
            padding: 2%
            .title
                font-size: 2.5em
            .source
                color: #e849bd
                font-size: 1.35em

.date
    color: white                
    font-size: 1.35em
.button
    font-size: 1.35em

@media all and ( max-width:  550px)
    .load
        app-loading
            left: 15%
    section
        article
            .news
                padding-left: 5.1%
                padding-right: 5.1%
                // font-size: 1.5em
                padding: 3%
                .title
                    font-size: 1.7em
                .source
                    font-size: 1.2em
    .date
        font-size: 1.07em                    
    .button
        font-size: 1.12em
