<main>
    <div class="title heading">News</div>
    <div style="text-align: center; width: 100%;">
        <div (click) = "removeItem()" class="button is-dark is-medium heading has-text-success">Refresh</div>
    </div>
    <p><br></p>
    <div *ngIf="!news" class="load">
            <app-loading></app-loading>
    </div>
    <section *ngIf="news">
        <article *ngFor="let item of news">
            <div class="heading">
                {{ item.title._text }}
            </div>
        </article>
    </section>
</main>
