<main style="padding-top: 4em;">
    <div style="text-align: center; width: 100%;">
        <div (click) = "removeItem()" class="button is-dark is-medium heading has-text-success">Load Latest</div>
    </div>
    <p><br></p>
    <div *ngIf="!news" class="load">
            <app-loading></app-loading>
    </div>
    <section *ngIf="news">
        <article *ngFor="let item of news">
            <div class="heading news">
                <p class="source text">{{ item.source._text }}</p>
                <br>
                <p class="title">{{ item.title._text }}</p>
                <p>
                    <br>
                </p>
                <div class="columns is-mobile">
                    <div class="column text date">
                      {{ item.pubDate._text }}
                    </div>
                    <div class="column is-one-third">
                      <button (click)="visit(item.link._text)" class="button is-dark text">Read</button>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <div class="floating-btn">
        <div class="logo">TOP</div>
    </div>
</main>
