<main class="topic text" style="text-align: center;">
  <app-search></app-search>
  <div class="holder">
    <div class="columns">
      <div class="title pink column" routerLink="/news/topics/sci">
          <img src="../../../assets/icons/science.svg" alt="">
          <a> Science</a>
      </div>
      <div class="title pink column" routerLink="/news/topics/tech">
          <img src="../../../assets/icons/tech.svg" alt="">
          <a> Tech</a>
      </div>
    </div>
  
    <div class="columns second">
      <div class="title pink column" routerLink="/news/topics/heal">
          <img src="../../../assets/icons/health.svg" alt="">
          <a> Health</a>
      </div>
      <div class="title pink column" routerLink="/news/topics/spo">
          <img src="../../../assets/icons/sports.svg" alt="">
          <a> Sports</a>
      </div>
    </div>
  
    <div class="columns second">
      <div class="title pink column" routerLink="/news/topics/ent">
          <img src="../../../assets/icons/entertainment.svg" alt="">
          <a> Entertainment</a>
      </div>
      <div class="title pink column" routerLink="/news/topics/ind">
          <img src="../../../assets/icons/india.svg" alt="">
          <a> India</a>
      </div>
    </div>
  </div>

  
</main>
