<main class="topic text">
  <div class="columns">
    <div class="title pink column">
        <img src="../../../assets/icons/tech.svg" alt="">
         Science
    </div>
    <div class="title pink column">
        <img src="../../../assets/icons/tech.svg" alt="">
         Tech
    </div>
  </div>

  <div class="columns second">
    <div class="title pink column">
        <img src="../../../assets/icons/health.svg" alt="">
         Health
    </div>
    <div class="title pink column">
        <img src="../../../assets/icons/sports.svg" alt="">
         Sports
    </div>
  </div>
  
</main>
