.head
    font-size: 5em
h2
    font-size: 1.8em    
    
@media all and ( max-width:  750px)
    .head
         font-size: 3.1em          
    
@media all and ( max-width:  450px)
    .hero
        padding-top: 8%
    .head
         font-size: 2.3em
    h2
        font-size: 1.24em     

.hr
    width: 100%
    padding-left: 10%
    padding-right: 10% 
    hr
        border: #2eff7b .5px solid 