<main>
    <section class="hero is-medium has-text-centered">
        <div class="hero-body">
          <div class="container">
            <h1 class="head heading title">Grab Some Latest <br><span class="pink">Good</span> News</h1>
            <br>
            <h2 class="subtitle has-text-success text">
                The<span class="pink logo"> Xenon </span>app fetches only good news from the internet and presents it to you by the topic specified, and it's totally free from ADS and spams.
            </h2>
            <a class="heading button is-medium is-dark has-text-success">Topics</a>
          </div>
        </div>
      </section>
</main>