<main>
  <section class="hero has-text-centered">
    <div class="hero-body">
      <div class="container">
        <h1 class="head heading title">Grab Some Latest <br><span class="pink">Good</span> News</h1>
        <br>
        <h2 class="subtitle has-text-success text">
          The<span class="pink logo"> Xenon </span>app fetches only good news from the internet and presents it to you
          by the topic specified, and it's totally free from ADS and spams.
        </h2>
        <button (click)="topics()" class="heading button is-medium is-dark has-text-success">{{btn1}}</button>
      </div>
    </div>
  </section>
  <div class="hr">
    <hr>
  </div>
  <section class="hero has-text-centered">
    <div class="hero-body">
      <div class="container">
        <h1 class="head heading title">Get Interesting<br><span class="pink">Stories</span></h1>
        <br>
        <h2 class="subtitle has-text-success text">
          <span class="pink logo">Xenon</span> also offers interesting  facts, articles, stories and more updated stuff, posted frequently by our team. 
        </h2>
        <a (click)="stories()" class="heading button is-medium is-dark has-text-success">{{btn2}}</a>
      </div>
    </div>
  </section>

  <div class="hr">
    <hr>
  </div>

  
  <section class="hero has-text-centered">
    <div class="hero-body">
      <div class="container">
        <h1 class="head heading title"><span class="pink">About</span> Us</h1>
        <br>
        <h2 class="subtitle has-text-success text">
          If you are interested about Behind The Scenes of the app or want to know more about our system and developer, or want to review or give some feedback, consider getting in touch !
        </h2>
        <a (click) = "about()" class="heading button is-medium is-dark has-text-success">{{btn3}}</a>
      </div>
    </div>
  </section>

  <!-- https://codepen.io/raneio/pen/NbbZEM -->

</main>
