<main>
    <section class="hero is-medium has-text-centered">
        <div class="hero-body">
          <div class="container">
            <h1 class="head heading title">Grab Some Latest <br><span class="pink">Good</span> News</h1>
            <br>
            <h2 class="subtitle has-text-success text">
                <span class="pink logo">Xenon</span> is an app which fetches only good news from the internet and presents it to you by the topic specified.
            </h2>
            <a class="button is-medium has-text-dark is-success">News</a>
          </div>
        </div>
      </section>
</main>